<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>countdown-app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0267D7B91EE3857200D0630C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0267D7CD1EE3857200D0630C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0267D7D81EE3857200D0630C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
